<a href="https://colab.research.google.com/github/nurejannatnina/Learning-Python/blob/main/firstcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello , I am Nina. \n Now i'm learning Python.")

Hello , I am Nina.
 Now i'm learning Python.

In [ ]:
dept_name = "EEE"
print("before" , dept_name)

dept_name = "CSE"
print("after", dept_name)

before EEE
after CSE

In [ ]:
from re import A
Fruits = ["mango","apple","watermelon","strawberry"] # list literal
print(Fruits)
numbers = (1,2,3,4)#tuple literal
print(numbers)

Alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} # dictionary literal
print(Alphabets)

Vowels = {'a', 'e', 'i', 'o', 'u',} # set literal
print(Vowels)

['mango', 'apple', 'watermelon', 'strawberry']
(1, 2, 3, 4)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'o', 'i', 'u', 'e', 'a'}

In [ ]:
number = int(input('Enter a number:'))

# check if number is greater than 0
if number > 0:
  print(f'{number} is a positive number.')
print('A statement outside the if statement.')

Enter a number:5
5 is a positive number.
A statement outside the if statement.

In [ ]:
#user theke input niye check krbo 20 thke boro ki na?
number =int(input('Enter a number : '))
if number > 20:
  print(f'{number} is a bigger number than 20')
else:
  print(f'{number} is a smallar number than 20')
print( 'outside of if statement ')

Enter a number : 25
25 is a bigger number than 20
outside of if statement

In [ ]:
languages=['swift','pythobn','go','dart']
#for i==0; i<10; i++{}
for lang in languages:
  print(lang)
  print("---------")

print("last statement")

swift
---------
pythobn
---------
go
---------
dart
---------
last statement

In [ ]:
num=int(input('Enter num: '))
for i in range(0,11):
  print(f'{num} X {i} = {num * i}')

Enter num: 5
5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
import random
print(random.randrange(10, 20))

list1 = ['a', 'b', 'c', 'd', 'e']

# get random item from list1
print(random.choice(list1))

# shuffle list1
random.shuffle(list1)

# print the shuffled list1
print(list1)

# print random element
print(random.random())

14
d
['b', 'a', 'c', 'd', 'e']
0.0013155218766268684

In [ ]:
my_list = ['p', 'r', 'o', 'g', 'r','a', 'm', 'n', 'd']

# items from index 2 to index 4
print(my_list[2:5])

# items from index 5 to end
print(my_list[5:])

# items beginning to end
print(my_list[:])

['o', 'g', 'r']
['a', 'm', 'n', 'd']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'n', 'd']

In [ ]:
country_capitals = {
 "United State": "Washington D.C ",
 "Italy": "Rome"
}

# print dictionary keys one by one
for country in country_capitals:
    print(country)

    print()

# print dictionary values one by one
for country in country_capitals:
     capital = country_capitals[country]
     print(capital)

United State

Italy

Washington D.C
Rome

In [ ]:
country_capitals = {"England": "London", "Italy": "Rome"}

# get dictionary's length
print(len(country_capitals))

numbers = {10: "ten", 20: "twenty", 30: "thirty"}

# get dictionary's length
print(len(numbers))


countries = {}

# get dictionary's length
print(len(countries))

2
3
0

In [56]:
# function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum:", sum)

# function call whith two values
add_numbers(8, 3)

Sum: 11

In [27]:
# function definition
def find_square(num):
    result = num * num
    return result

# function call
square = find_square(3)

print('Square:', square)

Square: 9

In [57]:
# import standard math module
import math

# use math.pi to get value of pi
print("the value of pi is", math.pi)

the value of pi is 3.141592653589793

In [58]:
def factorial(x):
  """ This is a recursive function
  to find the factorial of an integer"""

  if x == 1:
       return 1
  else:
      return (x * factorial(x-1))


num = int(input('Enter the number: '))
print("The factorial of", num, "is", factorial(num))

Enter the number: 5
The factorial of 5 is 120

In [59]:
# tuple of string types
names = ('James', 'Jack', 'Eva,')
print (names)

# tuple if float types
float_values = (1.2, 3.4, 2.1)
print(float_values)

('James', 'Jack', 'Eva,')
(1.2, 3.4, 2.1)

In [61]:
class student: #class
  name = "Ms. x" #Properties
  dept = "CSE"
  id = 5621017
  result = 3.52

obj = student() #Obtject
print("ID:", obj.id, "Result:", obj.result)

ID: 5621017 Result: 3.52